* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
  }

  @font-face {
    font-family: "Cinzel";
    src: url('fonts/Cinzel/static/Cinzel-Regular.ttf');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Alice";
    src: url('fonts/Alice/Alice-Regular.ttf');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Noto_Sans_Pau_Cin_Hau";
    src: url("fonts/Noto_Sans_Pau_Cin_Hau/NotoSansPauCinHau-Regular.ttf");
    font-weight: 400;
    font-style: normal;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    block-size: 100%;
  }
  
  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    background-color: #0E2A3F;
    
  }
  header {
    display: flex;
    align-items: center;
    background-color: #e3ecf7;
    height: 160px;
    width: 100%;
    max-width: 1920px;
    padding-left: 30px;
  }
 
  .logo {
      height: 140px;
  }


h1 {
    font-family: Cinzel;
    color: #BB8740;
    font-size: 45px;
}

  .footer {
    background-color: #1e2a38;
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #BB8740;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    margin-top: auto;
  }
  .footer a {
    color: #BB8740;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer a:hover {
    color: whitesmoke;
  }
  
