* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Cinzel";
  src: url("fonts/Cinzel/static/Cinzel-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Alice";
  src: url("fonts/Alice/Alice-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Noto_Sans_Pau_Cin_Hau";
  src: url("fonts/Noto_Sans_Pau_Cin_Hau/NotoSansPauCinHau-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  background-color: #0e2a3f;
}

header {
  display: flex;
  align-items: center;
  background-color: #e3ecf7;
  height: 160px;
  width: 100%;
  max-width: 1920px;
  padding-left: 30px;
}

.logo {
  height: 140px;
}

h1 {
  font-family: Cinzel;
  color: #bb8740;
  font-size: 45px;
}
main {
  width: 250px;
  height: auto;
  margin-top: 70px;
  margin-left: 100px;
  border-radius: 8px;
  background-color: rgb(28, 60, 88);

  display: flex;
  flex-direction: column;     
  justify-content: space-between; 
}

.book_title {
  color: #e3ecf7;
  font-family: Cinzel;
  padding: 10px;
}

.img_book_cover {
  max-width: 120px;
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin: 0.5rem;
  border: 1px solid #bb8740;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

hr {
  border: 0.5px solid #bb8740;
  margin-bottom: 5px;
}

table th {
  color: #bb8740;
  font-family: "Noto_Sans_Pau_Cin_Hau";
  width: 80px;
  text-align: left;
  padding-left: 10px;
}

table td {
  color: #e3ecf7;
  font-family: "Noto_Sans_Pau_Cin_Hau";
  width: auto;
  text-align: left;
  padding-left: 10px;
  overflow-wrap: anywhere;
}

label {
  color: #bb8740;
  font-family: Cinzel;
  padding: 10px;
}

textarea {
  width: calc(100% - 60px);
  margin: 0.5rem 10px;
  padding: 5px;
  background-color: #1e2a38;
  color: #e3ecf7;
  font-family: "Noto_Sans_Pau_Cin_Hau";
  border-color: #bb8740;
}

.send_btn {
  background-color: #1e2a38;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-color: #bb8740;
}

.send_btn:hover {
  color: #bb8740;
}

.btn_beside_comment {
  display: flex;
  justify-content: flex-start;
  align-items: center;

}

.footer {
  background-color: #1e2a38;
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #bb8740;
  font-size: 15px;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}
.footer a {
  color: #bb8740;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: whitesmoke;
}
